* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    
}

footer li {
    display: inline;
    color: #8E8E8E;
}
.instagram-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.login {
    display:flex;
    flex-direction: column;
    max-width: 350px;
}

.login-box {
    border: 1px solid #dbdbdb;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.instagram-logo {
    margin: 25px;
}

.login-form input {
    display: block;
    min-width: 280px;
    height: 38px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 0.85rem;
    background-color: #FAFAFA;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
}

.login-form input:focus {
    outline: none;  
}

.login-form button {
    margin-top: 9px;
    min-width: 280px;
    padding: 6px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #0095F6;
}


.image-demo {
    background-image: url("img/smartphone-empty.png");
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    min-width: 390px;
    min-height: 580px;
    
}

.image-demo .img-slider {
    width: 250px;
    height: 540px;
    margin-top: 20px;
    margin-left: 110px;
    background-image: url("img/screenshot1.png");
    position: relative;
    animation: fade 20s infinite ease-in-out;

}


@keyframes fade {
    
    20% {
        background-image: url("img/screenshot1.png");
        opacity: 0;
    }
    21% {
        background-image: url("img/screenshot2.png");
    }
    25% {
        background-image: url("img/screenshot2.png");
        opacity: 1;
    }
    45% {
        background-image: url("img/screenshot2.png");
        opacity: 0;
    }
    46% {
        background-image: url("img/screenshot3.png");
    }
    50% {
        background-image: url("img/screenshot3.png");
        opacity: 1;
    }
    70% {
        background-image: url("img/screenshot3.png");
        opacity: 0;
    }
    71% {
        background-image: url("img/screenshot4.png");
    }

    75% {
        background-image: url("img/screenshot4.png");
        opacity: 1;
    }
    95% {
        background-image: url("img/screenshot4.png");
        opacity: 0;
    }
    96% {
        background-image: url("img/screenshot1.png");
    }
    100% {
        background-image: url("img/screenshot1.png");
        opacity: 1;
    }

  }
  


@media (max-width: 875px) {
    .image-demo {
        display: none;
    }
}

@media (max-width: 450px) {
    .login-box {
        border: 0;
        background-color: inherit;

    }

}